<header>
    <nav>
        <ul>
            <li><a href="/">Главная</a></li>
            <li><a href="/register">Регистрация</a></li>
            <li><a href="/login">Авторизация</a></li>
            <!-- Добавьте ссылки на другие страницы -->
        </ul>
    </nav>
</header>