<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}}</title>
    <link rel="stylesheet" href="/styles/authStyle.css">
</head>
<body class="authBody">
    <header class="authHeader">
        <h1 class="authH1">Добро пожаловать в Гойда-банк!{{name}}</h1>
    </header>

    <main class="authMain">
        {{{body}}} 
    </main>

    <footer>
        <p>&copy; 2023 Наш Банк</p>
    </footer>
</body>
</html>