<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Аккаунт создан</title>
</head>
<body>
    <h1>Аккаунт успешно создан!</h1>
    <p>Ваш новый номер счета: {{account.accountNumber}}</p>
    
    <a href="/main/home">Вернуться на главную страницу</a>
</body>
</html>