    <link rel="stylesheet" href="/styles/accountStyle.css">
    <div class="containerCreate">
    <h1>Создать новый аккаунт</h1>

    {{#if message}}
        <div style="color: green;">
            <p>{{message}}</p>
        </div>
    {{/if}}

    <form class="createAccountForm" action="/createAccount" method="POST"> 
        <label for="userId">ID пользователя:</label>
        <p id="userId">{{userId}}</p>

        <label for="phone">Номер телефона:</label>
        <p id="phone">{{phone}}</p>

        <label for="name">Имя:</label>
        <p id="name">{{name}}</p>

        <label for="currency">Валюта:</label>
        <select id="currency" name="currency" required>
            <option value="RUB">Рубль (RUB)</option>
            <option value="USD">Доллар (USD)</option>
            <option value="EUR">Евро (EUR)</option>
        </select>

        <br> <button type="submit" class="createBtn">Создать аккаунт</button>
    </form>

    <p class="login">Уже есть аккаунт? <a href="/login">Войдите здесь</a></p> 
    </div>
