<h1>Сберегательный счет</h1>

<p>Номер счета: {{account.accountNumber}}</p>
<p>Баланс: {{account.balance}} {{account.currency}}</p>
<p>Статус: {{account.status}}</p>

<a href="/main/home">На главную</a>