<form action="/main/transfer" method="POST">
    <input type="hidden" name="fromAccountId" value="{{user.accountNumber}}" required> <!-- Скрытое поле для отправителя -->
    <input type="text" name="recipientIdentifier" placeholder="Телефон или имя получателя" required>
    <input type="number" name="amount" placeholder="Сумма перевода" required>
    <button type="submit">Перевести</button>
</form>