{{!-- home.hbs --}}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}}</title>
</head>
<body>
    <h1>Добро пожаловать, {{user}}!</h1> <!-- Используем email пользователя -->
    <p>Вы успешно вошли в систему.</p>
    
    <h2>Основной функционал банка:</h2>
    <ul>
        <li><a href="/main/bank">Перейти в банк</a></li>
        <li><a href="/transfer">Переводы</a></li>
        <li><a href="/loan">Кредиты</a></li>
        <!-- Добавьте другие ссылки на функционал -->
    </ul>

    <footer>
        <p>&copy; 2023 Ваш Банк</p>
    </footer>
</body>
</html>