<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Регистрация завершена</title>
    <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/styles/registrationStyle.css">
</head>
<body>

<div class="container">
    <div class="container-welcome">
        <div class="bank-logo">
            <img src="/images/Logo.jpg" alt="Логотип банка">
        </div>
        <h2>Регистрация завершена успешно!</h2>
        <p>Ваш аккаунт был успешно активирован.</p>
        <hr> 
        <div class="success-message">
            <p>Теперь вы можете войти в систему, используя указанные при регистрации данные.</p>
        </div>
        <a href="/login" class="btn-primary">Войти в онлайн-банк</a>
    </div> 
</div>

</body>
</html>