html, body {
  height: 100%;
  margin: 0;
  font-family: Arial, sans-serif;
}

.mainBody {
  display: flex;
  flex-direction: column;
  width: auto;
  min-height: 100vh; /* Минимальная высота для заполнения экрана */
}

.mainHeader {
  background: #87b9ef;
  color: #ffffff;
  height: auto;
  width: 100%;
  position: fixed;
}

.header-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between; /* Разделяем элементы по краям */
  align-items: center; /* Центрируем элементы по вертикали */
  max-width: auto;
  margin: auto; /* Центрируем контейнер */
  margin-bottom: 2rem;
}

.mainH1 {
   margin-top: 2rem;
  font-size: 1.5rem; /* Адаптивный размер шрифта */
  color: #ffffff;
}

.mainNav ul {
    display:flex; 
    gap:.5rem; /* Отступы между элементами навигации */
    list-style-type:none; 
    padding-left :0; 
    margin :0; 
}

.mainNav ul li a {
    color: #ffffff; 
    text-decoration :none; 
    font-weight :500; 
    padding :1rem ; /* Увеличиваем область клика */
    border-radius :5px; /* Закругляем углы */
    transition :background-color .3s ease; 
}

.mainNav ul li a:hover {
    background-color :rgba(255,255,255,.1); /* Добавляем фон при наведении */
    transform: scale(1.05);
}

.user-info {
   display: flex; 
   align-items: center; 
   margin-left: 1rem; /* Увеличиваем отступ слева для лучшего выравнивания */
   background-color: #c2daf3;
   color: #333;
   border-radius: 50px;
   transition: all 0.3s ease; /* Плавный переход для всех свойств */
}

.user-info:hover {
   transform: scale(1.05); /* Увеличиваем размер контейнера при наведении */
}

.user-info span{
   margin-right: 0.2rem;
}

.user-avatar {
   width: 60px; /* Уменьшаем размер аватара для лучшего вписывания в хедер */
   height: 60px; 
   border-radius: 50%; 
   margin-right: 0.2rem; /* Уменьшаем отступ справа от аватара */
   object-fit: cover; 
   border: 2px solid #ffffff; 
}

.nav-container {
   display: flex;
   align-items: center; 
   flex-grow: 1; /* Занимает оставшееся пространство */
   justify-content: space-between; /* Разделяем навигацию и информацию о пользователе */
}
.mainA {
  text-decoration: none;
  color: #ffffff;
}

.mainA :hover{
   text-decoration: none;
   size: 1.5rem;
 }

.avatar-updating {
   opacity:.5; 
}

.login-link {
   color :var(--text-color); 
   text-decoration:none; 
   font-weight :500; 
   padding :8px ; /* Увеличиваем область клика */
   border-radius :4px ; /* Закругляем углы */
   transition :background-color .3s ease ; 
}

.login-link:hover {
   background-color :rgba(255,255,255,.1); /* Добавляем фон при наведении */
}

.content {
   flex-grow: 1; 
   margin: auto;
   margin-top: 20vh;
   height: auto;
   padding-top: 2%; 
   padding-bottom: .5rem ; 
   box-sizing: border-box ; 
}

footer {
   text-align:center ; 
   padding-top:.5rem ;
   padding-bottom:.5rem ;
   background-color: #87b9ef;
   color: #ffffff;
   height: auto;
}

/* Адаптивность */
@media (max-width:768px) {
   .header-container {  
      flex-direction:center ;  
      padding-top:.5rem ;
      padding-bottom:.5rem ;
      gap:.5rem ;
      }
   
   .mainH1 {  
      margin-bottom:.5rem ;  
      font-size:.8rem ;  
      }
   
   .nav-container {  
      width:auto ;  
      justify-content:center ;  
      }
   
   .mainNav ul {  
      gap:.5rem ;  
      }
}