:root {
  --header-height: 12vh; /* высота хедера */
  --footer-height: 40px; /* высота футера */
}

html, body {
  height: 100%;
  margin: 0;
}

.mainBody {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  background-color: #f4f4f4;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start; /* чтобы контент шёл сверху вниз */
  position: relative;
}

.mainHeader {
  background: #007bff;
  color: #ffffff;
  padding: calc(var(--header-height) / 4) 0; /* например, padding сверху/снизу = четверть высоты */
  
  height: var(--header-height);
  
  text-align: center;
  
  width: 100%;
  
  position: fixed;
  
  top: 0;
  
  left: 0;
  
  z-index: 1000;
}

.mainH1 {
  color: #ffffff;
}

.mainNav ul {
    list-style-type: none; 
    padding: 0; 
    margin-top:10px; /* небольшой отступ под заголовком */
    text-align:center;
}

.mainNav ul li {
    display:inline-block; 
    margin-right:20px; 
}

.mainNav ul li a {
    color:#ffffff; 
    text-decoration:none; 
}

.mainNav ul li a:hover {
    text-decoration:underline; 
}

.content {
    flex-grow:1;
    max-width:50vw;
    background-color:#ffffff;
    overflow-y:auto;
    height: 75vh;
    margin-top: 19vh;
    box-sizing:border-box;
}

/* Скрыть скроллбар (опционально) */
::-webkit-scrollbar {
   display:none; 
}

footer {
   text-align:center;

   padding-top:10px;

   padding-bottom:10px;

   background-color:#007bff;

   color:#ffffff;

   width:100%;

   height: var(--footer-height);

   position: fixed;

   left:0;

   bottom:0;

}