<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}} | Банк</title>
    <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/styles/mainStyle.css">
    <link rel="stylesheet" href="/styles/bank.css"> <!-- Добавим отдельный CSS для банковских компонентов -->
</head>
<body>
  <div class="layout"> 
    <div class="header">
      <nav role="navigation">
        <div id="menuToggle">
          <input type="checkbox" id="menuCheckbox" />
          <span></span>
          <span></span>
          <span></span>
          <ul id="menu" class="hidden">
            <a href="/main/home"><li>Домой</li></a>
            <a href="/main/bank"><li>Банк</li></a> <!-- Добавим пункт меню -->
            <a href="/main/about"><li>О нас</li></a>
            {{#if user}}
              <div class="account-info">
                <p class="balance-info">Баланс: <span id="currentBalance">{{user.account.balance}}</span> ₽</p>
              </div>
            {{/if}}
            <div class="switchAcc"><a href="/login">Сменить аккаунт?</a></div>
          </ul>
        </div>
      </nav>
    </div>
  </div>
  
  <main>
    {{{body}}}
  </main>
  
  <script src="/scripts/mainScript.js"></script>
  <script src="/scripts/bank.js"></script> <!-- Добавим банковские скрипты -->
</body>
</html>